<header role="banner" class="header">
    <a href="javascript:;" class="menuButton js-menu">
        <span class="menuButton__bar"></span>
        <span class="menuButton__bar"></span>
        <span class="menuButton__bar"></span>
        <span class="hide">Toggle Menu</span>
    </a>

    <a href="/" class="logo">
        @Consts.BrandName
    </a>

    <nav class="nav js-nav">
        <ul class="nav__list">
            <li class="nav__item"><a asp-controller="Products" asp-action="Products">Products</a></li>

            @{
                var navLinks = (List<KeyValuePair<string, string>>)ViewBag.NavLinks;
                foreach (var item in navLinks)
                {
                    <li class="nav__item"><a href="@item.Key">@item.Value</a></li>
                }
            }
            
            <li class="nav__item"><a asp-controller="Contact" asp-action="Contact">Contact</a></li>
        </ul>
    </nav>
</header>


