<header role="banner" class="header">
    <a href="javascript:;" class="menuButton js-menu">
        <span class="menuButton__bar"></span>
        <span class="menuButton__bar"></span>
        <span class="menuButton__bar"></span>
    </a>

    <a asp-controller="Main" asp-action="Index" class="logo">
        Queenwood Design
    </a>

    <nav class="nav js-nav">
        <ul class="nav__list">
            <li class="nav__item"><a asp-controller="Main" asp-action="About">About</a></li>
            <li class="nav__item"><a asp-controller="Products" asp-action="Products">Products</a></li>
            <li class="nav__item"><a asp-controller="Main" asp-action="Bespoke">Bespoke</a></li>
        </ul>
    </nav>
</header>


