html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

img {
    max-width: 100%;
}

/*
  Typography
*/
html {
    font-size: 100%;
}

body {
    font-family: $fontFam;
    color: $fontColour;
    line-height: 1.45;
}

.fontloaded {
    font-family: $fontFamLoaded;
}

p {
    margin: 0 0 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.414rem 0 0.5rem;
    line-height: 1.414;
}

h1 {
    margin: 0 0 1.414rem;
    font-size: 2.369rem;
    font-weight: 400;
}

h2 {
    font-size: 1.777rem;
    font-weight: 400;
}

h3 {
    font-size: 1.414rem;
}

h4 {
    font-size: 1.333rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

small, .font_small {
    font-size: 0.75rem;
}

a {
    color: $linkColour;
    text-decoration: none;
}

.text-image {
    margin: .414rem auto $padding-1;
    display: block;

    @include respond-to(small) {
        float: left;
        max-width: 100%;
        margin: .414rem $padding-3 0 0;

        &--right {
            float: right;
            margin-left: $padding-3;
            margin-right: 0;
        }
    }
}


/*
  Generic classes
*/
.hide {
    @extend %hide;
}

.clearfix {
    @extend %clearfix;
}

.contentPadding {
    padding: $padding-2;

    @include respond-to(small) {
        padding: $padding;
    }
}

.limit-width {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Home */
.homeOptions {
    background: #fff;
}
