html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

img {
    max-width: 100%;
}

/*
  Typography
*/
body {
    font-family: $fontFam;
    font-size: 100%;
    color: $fontColour;
    line-height: 1.6;
}

.fontloaded {
    font-family: $fontFamLoaded;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

h1 {
    @include font-size(24px);
}

h2 {
    @include font-size(20px);
}

h3 {
    @include font-size(18px);
}
h4 {
    @include font-size(16px);
}

h5 {
    @include font-size(14px);
}

h6 {
    @include font-size(12px);
}

p {
    margin: 0 0 1rem;
}

a {
    color: $linkColour;
    text-decoration: none;
}

.text-image {
    float: left;
    max-width: 100%;
    padding: 0.45rem 1rem 0 0;
}

/*
  Generic classes
*/
.hide {
    @extend %hide;
}

.clearfix {
    @extend %clearfix;
}

.contentPadding {
    padding: $padding;
}

/* Home */
.homeOptions {
    background: #fff;
}
