/*
  Footer
*/
.footer {
    background: $grey;
    padding: $padding-1 0 $padding;
    text-align: center;
}

.copyright {
    @include font-size(12px);
    letter-spacing: 0.15rem;
    margin-bottom: 0;
}
