/*
  Grid adapted from https://github.com/kristoferjoseph/flexboxgrid
*/

$gridPadding: 1rem;

.row {
    padding: 0 $gridPadding;

    &__inner {
        display: flex;
        flex: 0 1 auto;
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: -$gridPadding * 2;
        margin-left: -$gridPadding * 2;
    }
}

.col {
    flex: 1 0 auto;
    padding-right: $gridPadding;
    padding-left: $gridPadding;
    align-self: center;
    max-width: 100%;
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

@include respond-to(small) {
    .col-md-3 {
        ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-md-4 {
        ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .col-md-6 {
        ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-md-8 {
        ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .col-md-9 {
        ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-md-12 {
        ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}

@include respond-to(big) {
    .col-lg-3 {
        ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    
    .col-lg-4 {
        ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }
    
    .col-lg-6 {
        ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .col-lg-8 {
        ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }
    
    .col-lg-9 {
        ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    
    .col-lg-12 {
        ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}
